.chart {
    float: left;
    margin: 5px;
    padding: 15px;
    /* width: 300px; */
    /* height: 300px; */
    border: 1px dashed #E1E1E1;
}
#ctr{
    float: left;
    clear: both;
    margin: 5px;
    padding: 15px;
    width: 642px;
    /* height: 300px; */
    border: 1px dashed #E1E1E1;
}
div#title{
    float:top; 
    margin: 5px; 
    padding: 15px;
    border: 1px dashed #E1E1E1;
    width: 642px;
}
p#title{
    color:#FFF;
    text-align: center;
    font-size: 2em;
}
p.chart_title{
    color:#AAA;
    text-align: center;
    font-size: 22px;
}
